input {
    display: block;
    width: 90%;
    height: 20px;
    font-size: 20px;
    border-radius: 10px;
    &_block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

label {
    color: #fff;
}
