body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(50, 50, 50);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  margin: 5px;
  text-align: center;
  color: #fff;
}

.container {
  box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 0px auto;
  max-width: 90vw;
  background-color: rgb(20, 20, 20);
  box-sizing: border-box;
  border-radius: 10px;
  &_header {
    padding: 5px;
    margin: 10px;
  }
}

